!!!5
%html{:lang => 'en'}
    %head
        %title Gravity Simulator
        %meta{:charset => 'UTF-8'}
        %link{:href => '_assets/css/main.css', :type => 'text/css', :rel => 'stylesheet'}
        %link{:href => 'https://fonts.googleapis.com/css?family=Overlock', :rel => 'stylesheet', :type => 'text/css'}

        %link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "_assets/static/favicon/apple-touch-icon-57x57.png"}
        %link{:rel => "apple-touch-icon", :sizes => "60x60", :href => "_assets/static/favicon/apple-touch-icon-60x60.png"}
        %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "_assets/static/favicon/apple-touch-icon-72x72.png"}
        %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => "_assets/static/favicon/apple-touch-icon-76x76.png"}
        %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "_assets/static/favicon/apple-touch-icon-114x114.png"}
        %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "_assets/static/favicon/apple-touch-icon-120x120.png"}
        %link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "_assets/static/favicon/apple-touch-icon-144x144.png"}
        %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "_assets/static/favicon/apple-touch-icon-152x152.png"}
        %link{:rel => "apple-touch-icon", :sizes => "180x180", :href => "_assets/static/favicon/apple-touch-icon-180x180.png"}
        %link{:rel => "icon", :type => "image/png", :href => "_assets/static/favicon/favicon-32x32.png", :sizes => "32x32"}
        %link{:rel => "icon", :type => "image/png", :href => "_assets/static/favicon/android-chrome-192x192.png", :sizes => "192x192"}
        %link{:rel => "icon", :type => "image/png", :href => "_assets/static/favicon/favicon-96x96.png", :sizes => "96x96"}
        %link{:rel => "icon", :type => "image/png", :href => "_assets/static/favicon/favicon-16x16.png", :sizes => "16x16"}
        %link{:rel => "manifest", :href => "_assets/static/favicon/manifest.json"}
        %meta{:name => "msapplication-TileColor", :content => "#2b5797"}
        %meta{:name => "msapplication-TileImage", :content => "_assets/static/favicon/mstile-144x144.png"}
        %meta{:name => "theme-color", :content => "#263238"}
    %body{:onload => 'initialize()', :onkeydown => 'keyDown(event)', :onkeyup => 'keyUp(event)'}
        %canvas#solar_system{:onmousedown => 'mouseDown(event)', :onmouseup => 'mouseUp(event)', :onmousemove => 'mouseMove(event)'}
        #toast
            #evaporate
            #splash
            %p#message paused
        %a#settings 
            Settings
            %span#settings_top
            %span#settings_mid
            %span#settings_bottom
        %a#keyboard-shortcuts.hud 
            %span#kb_ico
            Keyboard shortcuts
        #keyboard-window
            #keyboard-window-ink
            .content#keyboard-content
                %h3 Keyboard shortcuts
                .content-row
                    .row-left
                        %h4 Clear all
                    .row-right
                        %span#ctrlkey.key control
                        %span.key C
                .content-row
                    .row-left
                        %h4 Arrow of time
                    .row-right
                        %span#rkey.key R
                .content-row
                    .row-left
                        %h4 Speed
                    .row-right
                        %span#onekey.key 1
                        %span#twokey.key 2
                        %span#threekey.key 3
                .content-row
                    .row-left
                        %h4 Play | Pause
                    .row-right
                        %span#spacekey.key space
                %button close
        #control-panel
            #brand
                #logo
                    %h1 Solar Simulator
            #time.control
                %h2 Arrow of time
                #time-clock
                    #hours
                    #minutes
                %p#time-message.selected Playing forward
            #speed.control
                %h2 Speed
                #speed-half
                    %input{:type => 'radio', :name => 'speed_control', :value => '0.5'}
                    %a slower
                #speed-normal
                    %input{:type => 'radio', :name => 'speed_control', :value => '1', :checked => "true"}
                    %a normal
                #speed-twice
                    %input{:type => 'radio', :name => 'speed_control', :value => '2'}
                    %a faster
            #trails.control
                %h2 Particle trails
                %input#trails_slider{:type => 'range', :name => 'particle_trails', :min => '0', :max => '100'}
                #trails-options
                    %a#options-off off
                    %a#options-inf &infin;
        %script{:type => 'text/javascript', :src => 'vendor/greensock/TweenMax.min.js'}
        %script{:type => 'text/javascript', :src => '_assets/js/ui.js'}
        %script{:type => 'text/javascript', :src => '_assets/js/solar.js'}
