@mixin user_select
	-moz-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none

*
	margin: 0
	padding: 0

body
	overflow: hidden
	background: #263238
	font-family: "Helvetica Neue", Arial, sans-serif

#solar_system
	// cursor: none
	position: fixed
	z-index: 0

#settings
	position: fixed
	top: 0
	left: 0
	width: 80px
	height: 60px
	z-index: 9999
	text-indent: -9999px
	font-size: 0
	visibility: none
	cursor: pointer
	pointer-events: auto
	opacity: 0.4
	transition: opacity 100ms linear
	&.active
		transition: opacity 100ms linear
		#settings_top
			left: 14px
			transform: rotate(-45deg) translate(0, 7px)
			transition: all 200ms linear
			transition-delay: 100ms
		#settings_mid
			left: 14px
			opacity: 0
			transition: all 200ms linear
			transition-delay: 100ms
		#settings_bottom
			left: 14px
			transform: rotate(45deg) translate(0, -7px)
			transition: all 200ms linear
			transition-delay: 100ms
	&:hover
		opacity: 1

#settings_top, #settings_mid, #settings_bottom
	display: block
	background: #4A90E2
	width: 20px
	height: 3px
	left: 20px
	position: absolute
	transition: all 200ms linear
	transition-delay: 100ms
#settings_top
	top: 15px
#settings_mid
	top: 20px
#settings_bottom
	top: 25px

#control-panel
	position: fixed
	z-index: 10
	width: 300px
	height: 100vh
	background: #222
	box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5)
	opacity: 0
	visibility: hidden
	+user-select

#brand
	height: 90px
	overflow: hidden
	background: #222222
	background: -moz-linear-gradient(top,  #222222 80%, #1e1e1e 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#222222), color-stop(100%,#1e1e1e))
	background: -webkit-linear-gradient(top,  #222222 80%,#1e1e1e 100%)
	background: -o-linear-gradient(top,  #222222 80%,#1e1e1e 100%)
	background: -ms-linear-gradient(top,  #222222 80%,#1e1e1e 100%)
	background: linear-gradient(to bottom,  #222222 80%,#1e1e1e 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#1e1e1e',GradientType=0 )
	position: relative
	&:after
		content: ''
		position: absolute
		top: -50px
		left: -90px
		bottom: 45px
		right: 0
		z-index: 0
		opacity: 0
		transition: opacity 600ms linear
		background: -moz-radial-gradient(center, ellipse cover,  #2a4666 0%, #222222 60%)
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2a4666), color-stop(60%,#222222))
		background: -webkit-radial-gradient(center, ellipse cover,  #2a4666 0%,#222222 60%)
		background: -o-radial-gradient(center, ellipse cover,  #2a4666 0%,#222222 60%)
		background: -ms-radial-gradient(center, ellipse cover,  #2a4666 0%,#222222 60%)
		background: radial-gradient(ellipse at center,  #2a4666 0%,#222222 60%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4666', endColorstr='#222222',GradientType=1 )

.active #brand:after
	opacity: 1
	transition: opacity 600ms linear
	transition-delay: 300ms

#logo
	width: 260px
	height: 48px
	background: url('../static/solar_logo.png') top left no-repeat
	background-size: 100%
	margin: 20px 0 0 24px
	z-index: 5
	position: relative
	h1
		font-size: 0
		text-indent: -9999px

#time
	cursor: pointer
	overflow: auto
	padding-bottom: 0
	p
		float: left
		font-size: 11px
		color: #4A90E2
		text-transform: lowercase
		letter-spacing: 3px
		padding: 18px 24px 24px 14px

#time-clock
	float: left
	width: 32px
	height: 32px
	border: 1px #d4d4d4 solid
	border-radius: 32px
	margin: 8px 0 0 0
	position: relative
	transform: rotate(180deg)
	pointer-events: none
#hours
	width: 0px
	height: 10px
	border-left: 1px #d4d4d4 solid
	position: absolute
	left: 16px
	top: 16px
#minutes
	width: 0px
	height: 12px
	border-left: 1px #d4d4d4 solid
	position: absolute
	left: 16px
	top: 16px

#speed
	overflow: auto
	padding: 12px
	h2
		margin: 0px 0px 6px 12px
	div
		float: left
		position: relative
		a
			position: absolute
			left: 0
			top: 0px
			width: 91px
			text-align: center
			line-height: 30px
			pointer-events: none
			font-size: 11px
			color: #d4d4d4
			letter-spacing: 2.5px
	input
		border: 1px #1C1C1C solid
		width: 91px
		height: 30px
		background: #272727
		cursor: pointer
		margin: 0
		display: block
		outline: none
		box-shadow: inset 0px 1px 0px #2A2A2A
		-webkit-appearance: none
		-moz-appearance: none
		-o-appearance: none
		appearance: none
		transition: color 200ms linear
		&:hover + a
			color: #4A90E2
			transition: color 200ms linear
		&:checked
			background: #232323
			box-shadow: none
			+ a
				color: #4A90E2
#speed-half input
	border-right: none
	border-radius: 2px 0px 0px 2px
#speed-normal input
	border-left: none
	border-right: none
#speed-twice input
	border-left: none
	border-radius: 0px 2px 2px 0px

#trails 
	overflow: auto
	padding: 12px
	h2
		margin: 0px 0px 6px 12px
	input[type="range"]
		width: 266px
		border-radius: 2px
		height: 5px
		border: 1px #1C1C1C solid
		background: #272727
		position: relative
		-webkit-appearance: none
		-moz-appearance: none
		-o-appearance: none
		appearance: none
		outline: none
		cursor: pointer
		&:after
			content: ''
			position: absolute
			left: 8px
			right: 8px
			top: 2px
			border-top: 1px #222 solid
	input[type=range]::-webkit-slider-thumb
		-webkit-appearance: none
		-moz-appearance: none
		-o-appearance: none
		appearance: none
		width: 20px
		height: 20px
		position: relative
		cursor: col-resize
		&:after
			content: ''
			width: 0
			height: 0
			left: 2px
			top: 7px
			position: absolute
			z-index: 10
			border-left: 10px solid transparent
			border-right: 10px solid transparent
			border-bottom: 10px solid #4A90E2
			transform: scaleX(0.7)

#trails-options
	width: 262px
	color: #d4d4d4
	font-size: 11px
	margin-top: 5px
	margin-left: 5px
	position: relative
	a:first-child
		float: left
		letter-spacing: 1.5px
	a:last-child
		float: right
		font-size: 24px
		font-weight: lighter
		margin-top: -8px

#keyboard-shortcuts
	position: absolute
	bottom: 14px
	text-align: center
	color: #444
	text-transform: uppercase
	font-size: 11px
	letter-spacing: 2.5px
	cursor: pointer
	width: 300px
	transition: color 200ms linear
	&:hover 
		color: #777
		transition: color 200ms linear
	&.active
		color: #4A90E2
#keyboard-window
	position: fixed
	width: 600px
	height: 400px
	border-radius: 2px
	padding: 24px
	background: rgba(0, 0, 0, 0.5)
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
	z-index: 99999
	button
		padding: 8px 24px 8px 24px
		background: #222
		border: none
		outline: none
		color: #d4d4d4
		letter-spacing: 1.5px
		font-size: 11px
		display: block
		font-weight: 200
		bottom: 0
		position: absolute
		cursor: pointer
		&:hover
			color: #4A90E2

#options-off.active, #options-inf.active
	color: #4A90E2

.content
	position: relative
	height: 100%

.control
	clear: both
	padding: 24px
	margin: 8px 0 8px 0
	h2
		color: #444
		font-size: 11px
		font-weight: 400
		text-transform: uppercase
		user-select: none
		letter-spacing: 2.5px