$cursor-width: 72px

*
	margin: 0
	padding: 0

body
	overflow: hidden
	background: #263238
	font-family: 'Overlock', sans-serif

#solar_system
	cursor: none

#cursor
	width: $cursor-width
	height: $cursor-width
	border: 1px dashed #999
	background: url("../static/crosshair.png") center center no-repeat
	background-size: 8px
	border-radius: $cursor-width / 2
	z-index: 500
	position: fixed
	opacity: 1
	pointer-events: none
	top: 0
	left: 0
	visibility: hidden
	transition: box-shadow 100ms linear
	&.vector
		border: 2px dashed transparent

$message-height: 35px
$caption-width: 200px

#caption
	position: absolute
	left: $cursor-width / 2 + 8px
	top: $cursor-width / 2 - $message-height - 4px
	width: $caption-width
	height: $message-height
	line-height: $message-height
	border-radius: 8px 8px 8px 0
	text-align: center
	overflow: hidden
	z-index: 600

#caption-ink
	$ink-splash: $caption-width * 2.2
	background: rgba(84, 110, 122, 0.8)
	width: $ink-splash
	height: $ink-splash
	border-radius: $ink-splash / 2
	position: absolute
	left: -$ink-splash / 2
	top: -$ink-splash / 2 + $message-height
	z-index: 100

#caption-message
	position: relative
	z-index: 200
	color: white
	font-size: 13px
	letter-spacing: .5px
